<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="loggerConfig" class="com.exmp.springdemo.logging.LoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE"/>
        <property name="printedLoggerLevel" value="FINE"/>
    </bean>

    <!-- Define your beans here -->
    <bean id="fortuneService" class="com.exmp.springdemo.fortune.HappyFortuneService">
    </bean>

    <bean id="myCoach"
        class="com.exmp.springdemo.coach.BaseballCoach">
        <constructor-arg ref="fortuneService"/>
    </bean>

    <bean id="myCricketCoach" class="com.exmp.springdemo.coach.CricketCoach">
        <property name="fortuneService" ref="fortuneService"/>
        <property name="emailAddress" value="m@mail.com"/>
        <property name="teamName" value="Crickyy Boiz"/>
    </bean>

    <!-- define the dependency -->

</beans>





